*.json
bin/
Debug/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
.nuget/
*.dbmdl
*.mdf
*.ldf
*.sqlite
*.sqlite3
*.log
*.tlog
*.vspscc
*.vssscc
.idea/
.resharper/
_ReSharper.Caches/
.vs/
node_modules/
bower_components/
BuildArtifacts/
build/
out/
*.bak
*.tmp
*.temp