@page
@model MuoqaWeb.Areas.Identity.Pages.CustomAccount.LoginModel
@{
    var urlWeb = Model.urlWeb;
    var urlLog = Url.Action("LoginUser", "Account");
    var token = Model.Token;
}
<link rel="stylesheet" href="~/css/accountstyle.css" asp-append-version="true" />
<form class="login__form" id="loginForm">
    <div class="parent__container">
        <div class="form__container form__container1">
            <label class="form__tags" for="username">Usuario</label>
            <input class="form__inputs" type="text" id="username" name="UserName" maxlength="30" placeholder="Maximo" required />
            <label class="form__tags" for="userpassword">Contraseña</label>
            <input class="form__inputs" type="password" id="userpassword" name="UserPassword" maxlength="30" placeholder="Contraseña segura" required />
        </div>
        <div class="form__container form__container2">
            <button class="form__button" id="formButton" type="submit">Logearse</button>
        </div>
    </div>
    <p class="error__text" id="errorText"></p>
    <div class="form__links">
        <a class="login__link" asp-area="Identity" asp-page="/CustomAccount/Register">Registrarse</a>
    </div>
</form>
<script>
    var urlWeb = "@urlWeb";
    var urlLog = "@urlLog";
    var token = "@token";
</script>
<script src="~/js/AccountScripts/AccountLog.js" asp-append-version="true"></script>
